body{
    overflow-x: hidden;
    font-family: 'Public Sans';
}

.firstsection{
    background-color:hsl(0, 0%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/bg-intro-desktop.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 750px -200px;
    padding-bottom: 250px;
}

.col-1{
    padding-top: 10%;
    margin-left: 15%;
}

.col-1 h2{
    font-size: 50px;
    font-weight: 700;
}

.col-1 p{
    font-size: 20px;
    padding-top: 20px;
}

.col-1 button{
    border-radius: 15px;
    width: 9%;
    border: 0;
    outline: none;
    padding: 9px;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    font-family: 'Public Sans';
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    bottom: 40%;
    left: 15%;
}

.col-1 button:hover{
    background: #31d35c;
}

.col-2{
    position: absolute;
    right: 0px;
    top: 69px;
    
}
.mockup{
    width: 100%;
  

}
.mockup-mobile{
    display: none;
}

@media screen and (min-width:320px) and (max-width:480px){
    .firstsection{
        background-color:hsl(0, 0%, 98%);
        display: block;
        justify-content: space-between;
        align-items: center;
        background-image: url(../images/bg-intro-mobile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position:top center;
        padding-bottom: 200px;
    }
    
    .col-1{
        padding-top: 90%;
        margin-left: 10px;
        position: relative;
    }
    
    .col-1 h2{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    
    .col-1 p{
        font-size: 12px;
        text-align: center;
        padding-top: 20px;
    }

    .col-1 button{
        border-radius: 15px;
        width: 40%;
        border: 0;
        outline: none;
        padding: 9px;
        background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
        font-family: 'Public Sans';
        color: #ffffff;
        cursor: pointer;
        position: absolute;
        bottom: -15%;
        left: 30%;
    }
    
    
    .col-2{
        position: absolute;
        top: 0;
        left: 10%;
        
    }
    .col-2 img{
        width: 100%;
        position: relative;
        left: -5%;
    }

    .mockup{
        display: none;
    }

    .mockup-mobile{
        display: block;
    }
}

@media screen and (min-width:481px) and (max-width:769px){
    .firstsection{
        background-color:hsl(0, 0%, 98%);
        display: block;
        justify-content: space-between;
        align-items: center;
        background-image: url(../images/bg-intro-mobile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position:top center;
        padding-bottom: 200px;
    }
    
    .col-1{
        padding-top: 94%;
        margin-left: 10px;
        position: relative;
    }
    
    .col-1 h2{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
    
    .col-1 p{
        font-size: 14px;
        text-align: center;
        padding-top: 20px;
    }

    .col-1 button{
        border-radius: 15px;
        width: 50%;
        border: 0;
        outline: none;
        padding: 9px;
        background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
        font-family: 'Public Sans';
        color: #ffffff;
        cursor: pointer;
        position: absolute;
        bottom: -15%;
        left: 28%;
        font-size: 14px;
    }
    
    
    .col-2{
        position: absolute;
        left: 10%;
        top: 0px;
    }
    .col-2 img{
        position: absolute;
        left: -5%;
    }

    .mockup{
        display: none;
    }

    .mockup-mobile{
        display: block;
        width: 100%;

    }
}


@media screen and (min-width:770px) and (max-width:1024px) {
  
.firstsection{
    background-color:hsl(0, 0%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/bg-intro-desktop.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 370px -100px;
    padding-bottom: 250px;
}

.col-1{
    padding-top: 10%;
    margin-left: 40px;
}

.col-1 h2{
    font-size: 45px;
    font-weight: 700;
}

.col-1 p{
    font-size: 16px;
    padding-top: 20px;
}

.col-1 button{
    border-radius: 15px;
    width: 20%;
    border: 0;
    outline: none;
    padding: 9px;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    font-family: 'Public Sans';
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    bottom: 40%;
    left: 5%;
}

.col-1 button:hover{
    background: #31d35c;
}

.col-2{
    position: absolute;
    right: 0px;
    top: 69px;
    
}
.mockup{
    width: 45vw;
  

}
.mockup-mobile{
    display: none;
}
}

